@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

#login-page {
    background-image: url('https://img.freepik.com/premium-vector/realistic-green-3d-gaming-background-with-deep-shadow-texture_266878-240.jpg');
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-attachment: fixed;
    padding-top: 130px;
    padding-bottom: 80px;


    .container {
        .row {
            justify-content: center;

            .col-lg-4 {
                .card {
                    backdrop-filter: blur(20px);
                    background-color: transparent;
                    border: 1px solid rgb(68, 105, 217);
                    padding: 50px 0 80px 0;

                    h1 {
                        font-family: 'Lobster', cursive;
                    }

                    form {
                        input::placeholder {
                            color:rgba($color: #000000, $alpha: 0.5);
                        }
                    }
                }
            }
        }
    }
}

// register-page
#register-page {
    background-image: url('https://img.freepik.com/free-vector/hexagonal-technology-pattern-mesh-background-with-text-space_1017-26293.jpg?w=996&t=st=1691329352~exp=1691329952~hmac=a443580467691137170f1c6af3513c84859796103f8f1ce44697fd6101a93b2f');
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-attachment: fixed;
    padding-top: 130px;
    padding-bottom: 80px;


    .container {
        .row {
            justify-content: center;

            .col-lg-4 {
                .card {
                    padding: 50px 0 80px 0;
                    backdrop-filter: blur(20px);
                    background-color: transparent;
                    border: 1px solid rgb(68, 105, 217);

                    h1 {
                        font-family: 'Lobster', cursive;
                    }
                    form {
                        input::placeholder {
                            color:rgba($color: #000000, $alpha: 0.5);
                        }
                    }
                }
            }
        }
    }
}


.auth-hover-effect:hover {
    color: black !important;
}